/Algorithms/SimpleArraySum/target/
/Algorithms/VeryBigSum/target/
/Algorithms/DiagonalDifference/target/
/Algorithms/PlusMinus/target/
/Algorithms/Staircase/target/
/Algorithms/TimeConversion/target/
/Algorithms/Codility/target/
/Algorithms/Pairs/target/
/Algorithms/AngryProfessor/target/
/Algorithms/LonelyInteger/target/
/Algorithms/SortingIntro/target/
/Algorithms/MaximumSubarray/target/
/Algorithms/SnakesAndLaddersTheQuickestWayUp/target/
/Algorithms/CaesarCipher/target/
/Algorithms/UtopianTree/target/
/Algorithms/FindDigits/target/
/Algorithms/CavityMap/target/
/Algorithms/ChocolateFeast/target/
/Algorithms/SherlockAndTheBeast/target/
/Algorithms/SherlockAndSquares/target/
/Algorithms/ServiceLane/target/
/Algorithms/CutTheSticks/target/
/Algorithms/LisasWorkbook/target/
/Algorithms/LibraryFine/target/
/Algorithms/ACM_ICPC_Team/target/
/Algorithms/ModifiedKaprekarNumbers/target/
/Algorithms/ManasaAndStones/target/
/Algorithms/TaumAndBDay/target/
/Algorithms/TheTimeInWords/target/
/Algorithms/ExtraLongFactorials/target/
/Algorithms/TheGridSearch/target/
/Algorithms/Encryption/target/
/Algorithms/LarrysArray/target/
/Algorithms/NewYearChaos/target/
/Algorithms/MatrixRotation/target/
/Algorithms/Pangrams/target/
/Algorithms/AlternatingCharacters/target/
/Algorithms/TheLoveLetterMystery/target/
/Algorithms/Gemstones/target/
/Algorithms/FunnyString/target/
/Algorithms/Anagram/target/
/Algorithms/PalindromeIndex/target/
/Algorithms/GameOfThronesI/target/
/Algorithms/MakeItAnagram/target/
/Algorithms/TwoStrings/target/
/Algorithms/SherlockAndAnagrams/target/
/Algorithms/BearAndSteadyGene/target/
/AlgorithmsSorting/InsertionSort/target/