/Algorithms/SimpleArraySum/target/
/Algorithms/VeryBigSum/target/
/Algorithms/DiagonalDifference/target/
/Algorithms/PlusMinus/target/
/Algorithms/Staircase/target/
/Algorithms/TimeConversion/target/
/Algorithms/Codility/target/
/Algorithms/Pairs/target/
/Algorithms/AngryProfessor/target/
/Algorithms/LonelyInteger/target/
/Algorithms/SortingIntro/target/
/Algorithms/MaximumSubarray/target/
/Algorithms/SnakesAndLaddersTheQuickestWayUp/target/